
/* Nav */
nav a {
  font-size: 18px !important;
}

nav a:hover {
  color: #16a085 !important;
}

/* Nav item order */
.nav-item {
  line-height: 2.1 !important;
}

ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 1.2;
  padding: .2rem 1.2rem;

}

@media only screen and (max-width: 768px) {
  nav a:hover {
      color: #fff !important;
  }

}

/* Google button */
.google-button {
  border: 1px solid black;
  padding: 0 15px;
}

/* Border */
.custom-border {
  border-bottom: 2px dotted white;
}

.custom-border-primary {
  border-bottom: 2px dotted #16a085;
}

/* My Profle  */
.profile-card {
  box-shadow: 0 4px 8px 0 rgba(20, 170, 132,.3);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.profile-card a {
  text-decoration: none;
  font-size: 22px;
  color: rgba(20, 170, 132);
}

/* Rating icon */
.icon-color {
  color: #F5C60D;
}

.icon-color-empty {
  color: rgb(173, 173, 173);
}


@media only screen and (max-width: 600px) {
  .custom-width {
      width: 100%;
  }

}

@media only screen and (max-width: 768px) {

  .bg-image::before,
  .bg-image::after,
  .bg-image-bottom::before,
  .bg-image-bottom::after {
      display: none !important;
  }
}

.home-slider-image {
  height: calc(100vh - 146px);
}


.image-slide-bgOne {
  /* background-image: url(./Assets/Images/slide1.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(./images/slide1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 146px);
}

.image-slide-bgTwo {
  /* background-image: url(./Assets/Images/slide2.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(./images/slide2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 146px);
}

/* Accordion---------Home page */


/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #ccc;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}