.swiper {
  width: 100%;
  height: calc(100vh - 132px);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet-active {
  color: #16a085!important;
}

/* Nav */
nav a {
  font-size: 18px !important;
}

nav a:hover {
  color: #16a085 !important;
}

/* Nav item order */
.nav-item {
  line-height: 2.1 !important;
}

ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 1.2;
  padding: .2rem 1.2rem;

}

.nav-btn {
  text-decoration: none;
  padding: .4rem 1rem;
  position: relative;
  transition: .3s ease-in .4s;
}

.nav-btn::before {
  content: '';
  height: 0;
  width: 0;
  border: 2px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  transition: height .2s linear, width .3s linear .2s;
}

.nav-btn:hover::before {
  height: 100%;
  width: 100%;
  border: 2px solid #16a085;
  border-right: none;
  border-bottom: none;
}

.nav-btn::after {
  content: '';
  height: 0;
  width: 0;
  border: 2px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  transition: height .2s linear, width .3s linear .2s;
}

.nav-btn:hover::after {
  height: 100%;
  width: 100%;
  border: 2px solid #16a085;
  border-left: none;
  border-top: none;
}

@media only screen and (max-width: 768px) {
  nav a:hover {
      color: #fff !important;
  }

}

/* Google button */
.google-button {
  border: 1px solid black;
  padding: 0 15px;
}

/* Shape divider */
.custom-shape-divider-top-1653207012 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1653207012 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1653207012 .shape-fill {
  fill: #FFFFFF;
}

/* Border */
.custom-border {
  border-bottom: 10px double #ffffff;
}

.custom-border-primary {
  border-bottom: 10px double #16a085;
}